
<div class="text-center">
 
  <p class="img_center">
    <img src="images/sinki2.png" alt="新規登録">
  </p>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    
<%= form_for(@user) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>


      <div class="form-group">
        
<%= f.label :name, '名前' %>

        
<%= f.text_field :name, class: 'form-control' %>

      </div>

      <div class="form-group">
        
<%= f.label :email, 'メールアドレス' %>

        
<%= f.email_field :email, class: 'form-control' %>

      </div>

      <div class="form-group">
        
<%= f.label :password, 'パスワード' %>

        
<%= f.password_field :password, class: 'form-control' %>

      </div>

      <div class="form-group">
        
<%= f.label :password_confirmation, '確認のためもう一度パスワード' %>

        
<%= f.password_field :password_confirmation, class: 'form-control' %>

      </div>

      
<%= f.submit '登録', class: 'btn btn-info btn-block' %>
<p>ログインの方はこちらです
<a class="navbar-center" href="/login"><img src="/images/l.png" alt="新規登録"></a></p>

    
<% end %>

  </div>
</div>